.autorelabel
bin
boot/
dev/
etc/.pwd.lock
etc/.updated
etc/DIR_COLORS
etc/DIR_COLORS.lightbgcolor
etc/GREP_COLORS
etc/NetworkManager/
etc/PackageKit/
etc/UPower/
etc/X11/
etc/adjtime
etc/aliases
etc/alsa/
etc/alternatives/
etc/anacrontab
etc/appstream.conf
etc/asciidoc/
etc/asound.conf
etc/at.deny
etc/audit/
etc/authselect/
etc/avahi/
etc/bash_completion.d/
etc/bashrc
etc/bindresvport.blacklist
etc/bluetooth/
etc/brlapi.key
etc/brltty.conf
etc/brltty/
etc/check_mk/
etc/chromium/
etc/chrony.conf
etc/chrony.keys
etc/cifs-utils/
etc/clang/
etc/cockpit/
etc/containerd/
etc/containers/
etc/corosync/
etc/cron.d/
etc/cron.deny
etc/cron.hourly/
etc/crontab
etc/crypto-policies/
etc/crypttab
etc/csh.cshrc
etc/csh.login
etc/cups/
etc/cupshelpers/
etc/dbus-1/
etc/dconf/
etc/default/
etc/depmod.d/
etc/dhcp/
etc/dnf/
etc/dnsmasq.conf
etc/dracut.conf
etc/drbd.conf
etc/drbd.d/
etc/enscript.cfg
etc/environment
etc/environment-modules/
etc/ethertypes
etc/exports
etc/favicon.png
etc/filesystems
etc/firewalld/
etc/fonts/
etc/foomatic/
etc/fprintd.conf
etc/fstab
etc/fuse.conf
etc/fwupd/
etc/gdbinit
etc/gdm/
etc/geoclue/
etc/groff/
etc/group
etc/group-
etc/grub.d/
etc/grub2.cfg
etc/gshadow
etc/gshadow-
etc/gss/
etc/gssproxy/
etc/ha.d/
etc/host.conf
etc/hostname
etc/hosts
etc/hp/
etc/httpd/
etc/idmapd.conf
etc/init.d
etc/inittab
etc/inputrc
etc/iproute2/
etc/iscsi/
etc/issue
etc/issue.d/
etc/issue.net
etc/java/
etc/kdump.conf
etc/kernel/
etc/keys/
etc/krb5.conf
etc/krb5.conf.d/
etc/ld.so.cache
etc/ld.so.conf
etc/ld.so.conf.d/
etc/libaudit.conf
etc/libblockdev/
etc/libibverbs.d/
etc/libnl/
etc/libreport/
etc/libssh/
etc/libuser.conf
etc/locale.conf
etc/localtime
etc/login.defs
etc/logrotate.conf
etc/logrotate.d/
etc/lsm/
etc/lvm/
etc/machine-id
etc/magic
etc/mailcap
etc/makedumpfile.conf.sample
etc/man_db.conf
etc/mcelog/
etc/mime.types
etc/mke2fs.conf
etc/modprobe.d/
etc/modules-load.d/
etc/motd
etc/motd.d/
etc/mtab
etc/multipath/
etc/nanorc
etc/netconfig
etc/networks
etc/nfs.conf
etc/nfsmount.conf
etc/nftables/
etc/nginx/
etc/npmrc
etc/nsswitch.conf
etc/nsswitch.conf.bak
etc/nvme/
etc/openldap/
etc/opt/
etc/os-release
etc/pacemaker/
etc/pam.d/
etc/papersize
etc/passwd
etc/passwd-
etc/passwd~
etc/pbm2ppa.conf
etc/pesign/
etc/php-fpm.conf
etc/php-fpm.d/
etc/php.d/
etc/php.ini
etc/pinforc
etc/pki/
etc/plymouth/
etc/pnm2ppa.conf
etc/polkit-1/
etc/popt.d/
etc/printcap
etc/profile
etc/profile.d/
etc/protocols
etc/pulse/
etc/qemu-ga/
etc/raddb/
etc/rc.d/
etc/rc.local
etc/rc0.d
etc/rc1.d
etc/rc2.d
etc/rc3.d
etc/rc4.d
etc/rc5.d
etc/rc6.d
etc/redhat-release
etc/redis/
etc/request-key.conf
etc/request-key.d/
etc/resolv.conf
etc/rocky-release
etc/rocky-release-upstream
etc/rpc
etc/rpm/
etc/rpmdevtools/
etc/rsyncd.conf
etc/rsyslog.conf
etc/rwtab.d/
etc/samba/
etc/sane.d/
etc/scl/
etc/security/
etc/selinux/
etc/services
etc/sestatus.conf
etc/setroubleshoot/
etc/sgml/
etc/shadow
etc/shadow-
etc/shells
etc/skel/
etc/smartmontools/
etc/sos/
etc/speech-dispatcher/
etc/ssh/
etc/ssl/
etc/subgid
etc/subgid-
etc/subuid
etc/subuid-
etc/sudo-ldap.conf
etc/sudo.conf
etc/sudoers
etc/sysconfig/
etc/sysctl.conf
etc/sysctl.d/
etc/system-release
etc/system-release-cpe
etc/systemd/
etc/texlive/
etc/tmpfiles.d/
etc/tpm2-tss/
etc/trusted-key.key
etc/tuned/
etc/udev/
etc/udisks2/
etc/updatedb.conf
etc/usb_modeswitch.conf
etc/vconsole.conf
etc/vimrc
etc/virc
etc/vmware-tools/
etc/wgetrc
etc/wpa_supplicant/
etc/xattr.conf
etc/xdg/
etc/xen/
etc/xml/
etc/xrdp/
etc/yum.conf
etc/yum.repos.d/
etc/yum/
home/
include/
lib
lib64
mnt/
omd
opt/
proc/
readme.txt
root/
run/
sbin
srv/salt/minswarm/
sys/
t.txt
tmp/
usr/
var/
vw-data/
